html, 
body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
header{
    height: 47px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.searchContainer{
    display: flex;
    border: 1px solid #dfe1e5;
    border-radius: 25px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.searchContainer input{
    width: 250px;
    margin: 0 10px 0 10px;
    border: none;
    
}
.searchButton{
    height: 25px;
    width: auto;
    border: none;
    background: rgb(0, 0, 0, 0.0);
}
.searchContainer, 
.searchContainer input{
    background: #fafbfc;
}
.searchContainer input:focus, 
.searchButton:focus{
    outline: none;
}