.personForm{   
    display: flex; 
    align-items: flex-end; 
    flex-direction: column; 
    position: fixed;
    right: 0px;
}
.personForm div {
    margin-right: 25px;
}
.personForm input, 
.personForm button, 
.personForm select{
    margin: 5px;
    padding: 10px;
    border: #ccc 1px solid;
    border-radius: 25px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 
        0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.personForm input:focus, 
.personForm button:focus, 
.personForm select:focus{
    outline: none;
}
.feedbackMessage{
    display: none;
}
.hideContent{
    display: none;
}