.loginForm{
    display: flex; 
    align-items: center; 
    flex-direction: column;
    margin-top: 50px;
}
.btn {
    display: flex; 
    align-items: flex-end; 
    flex-direction: column;
    width: 200px;
}
.loginForm input, 
.loginForm button{
    margin: 5px;
    padding: 10px;
    border: #ccc 1px solid;
    border-radius: 25px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 
        0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.loginForm input:focus, 
.loginForm button:focus{
    outline: none;
}
